<div class="my-container">

  <div class="cards">
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do %>
        <% if list.photo.attached? %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key %>')">
             <%= list.name.capitalize %>
          </div>
        <% else %>
           <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)">
             <%= list.name.capitalize %>
          </div>
        <% end %>

       <% end %>
     <% end %>
  </div>

<div class="bouton-container">
  <%= link_to "Create a new list", new_list_path(@list), class: "bouton" %>
</div>

</div>
